@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
	background: url('../assets/landscape.jpeg') no-repeat center center/cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.aboutContainer {
	background-color: rgba(146,146,146,0.9);
	border: 5px solid;
  padding: 10px;
	border-radius: 20px;
}

.aboutContainer p {
	text-align: center;
}

.title {
	text-align: center;
}

#txt {
	margin-top: 4%;
}