@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todoBackground {
	background: url('../assets/todowallpaper.jpeg') no-repeat center center/cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.todoContainer {
	background-color: rgba(146,146,146,0.9);
	border: 5px solid;
  padding: 10px;
	border-radius: 20px;
	width: 40%;
}

.checkbox {
	margin: 0;
	margin-right: 10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

label {
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	width: 50%;
	padding-top: 2.5%;
}

.delete {
	margin-left: 10%;
	float: right;
}

.todoname {
	text-align: center;
	font-size: medium;
}